<div class="js-container container" style="z-index:1">

  <div class="center">
    <div class="welcome-text"><span style="">🎉</span> Browse Party 🎉</div>
    <div class="mobile_device_500px">
      <h1>Use Desktop to Test Browse Party</h1>
    </div>
  </div>

  <div class="center selling-points">
    <div class="point">
      <div class="main-point">
        Add video chat to your online store.
      </div>
      <div class="sub-point">
        As simple as copying and pasting pre-generated code.
      </div>
    </div>
    <div class="point">
      <div class="main-point">
        Friends who shop together spend more.
      </div>
      <div class="sub-point">
        63% of shoppers say they spend more when shopping with friends.
      </div>
    </div>
    <div class="point">
      <div class="main-point">
        Let the Browse Party begin!
      </div>
    </div>
    <!-- <div class="point">
      <div class="main-point">
        Watch engagement and revenue rise!
      </div>
      <div class="sub-point">
        View engagement on your dashboard.
      </div>
    </div> -->
    <div class="point">
      <div class="main-point ">
        <a href='/dashboard' style="text-decoration:none;">
        <div class="add-btn">
          Add Browse Party To My Site
        </div>
      </a>
      </div>
    </div>
  </div>

  <div class="arrow animated bounce">
    <div class="arrow-text">Try me!</div>
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
  </div>

</div>
<!-- end of confetti -->






<script>

// confetti////////////

const Confettiful = function(el) {
  this.el = el;
  this.containerEl = null;

  this.confettiFrequency = 3;
  this.confettiColors = ['#fce18a', '#ff726d', '#b48def', '#f4306d'];
  this.confettiAnimations = ['slow', 'medium', 'fast'];

  this._setupElements();
  this._renderConfetti();
};

Confettiful.prototype._setupElements = function() {
  const containerEl = document.createElement('div');
  const elPosition = this.el.style.position;

  if (elPosition !== 'relative' || elPosition !== 'absolute') {
    this.el.style.position = 'relative';
  }

  containerEl.classList.add('confetti-container');

  this.el.appendChild(containerEl);

  this.containerEl = containerEl;
};

Confettiful.prototype._renderConfetti = function() {
  this.confettiInterval = setInterval(() => {
    const confettiEl = document.createElement('div');
    const confettiSize = (Math.floor(Math.random() * 3) + 7) + 'px';
    const confettiBackground = this.confettiColors[Math.floor(Math.random() * this.confettiColors.length)];
    const confettiLeft = (Math.floor(Math.random() * this.el.offsetWidth)) + 'px';
    const confettiAnimation = this.confettiAnimations[Math.floor(Math.random() * this.confettiAnimations.length)];

    confettiEl.classList.add('confetti', 'confetti--animation-' + confettiAnimation);
    confettiEl.style.left = confettiLeft;
    confettiEl.style.width = confettiSize;
    confettiEl.style.height = confettiSize;
    confettiEl.style.backgroundColor = confettiBackground;

    confettiEl.removeTimeout = setTimeout(function() {
      confettiEl.parentNode.removeChild(confettiEl);
    }, 3000);

    this.containerEl.appendChild(confettiEl);
  }, 25);
};

window.confettiful = new Confettiful(document.querySelector('.js-container'));


</script>
