
@import "dashboards",
        "setups",
        "subscription",
        "welcome";

nav{
  background: orange;
  padding: 20px;
  margin-left: -8px;
  margin-top: -9px;
  margin-right: -8px;
  font-family: 'Open Sans', sans-serif;

}

.nav-pages{
    color: white;
    text-decoration: none;
    margin-right:10px;
    font-family: 'Open Sans', sans-serif;


}
.nav-pages:visited{
  color: white;
  text-decoration: none;
  margin-right:10px;
  font-family: 'Open Sans', sans-serif;
}

.nav-login{
}

.footer{
  margin-top:40px;
  background: lightgrey;
  color: white;
  padding:10px;
  text-align: center;
  width: 110%;
  margin-left:-5.5%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
